.app {
  max-width:fit-content;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  background-color: #333;
  padding: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  transition: color 0.3s ease, background-color 0.3s ease;
  border-radius: 4px;
}

nav ul li a:hover {
  color: #fff;
  background-color: #007bff;
  box-shadow: 0 2px 8px rgba(0, 123, 255, 0.4);
}
